@use '../../constant/variables.scss' as *;
.words__section {
   width: 95vw;
   margin: 0 auto;
   padding: var(--g-extra-large) var(--g-medium);

   display:grid;
   grid-template-columns: repeat(auto-fit, minmax(auto, 230px));
   gap: var(--g-extra-large);
   justify-content: center;
}

.word {
   width: 99vw;
   padding: var(--g-extra-large) var(--g-medium);

   display: grid;
   justify-content: center;
   align-items: center;

      &__card {
      min-height: 60px;

      display: flex;
      align-items: center;
      justify-content: center;

      border-bottom: solid 1px var(--primary-color);
      border-radius: var(--border-radius); 

      box-shadow: 0 0 8px 0 var(--card-shadow-color);

      &:hover {
         border-color: var(--accent-color);
         box-shadow: 0 0 5px 0 var( --accent-color);
      }
      &:active {
         box-shadow: inset 0 0 8px 0 var(--card-shadow-color);
      }

      &__basic_view {
         width: 95%;
         height: 85%;

         display: flex;
         align-items: center;
         justify-content: center;

         &.expanded {
            box-shadow: none;
         }

         &--text {
            width: 85%;
            margin: 0 var(--g-normal);
            text-align: center;
         }

         &__button {
            width: 18px;
            height: 18px;
            margin: 0 var(--g-medium) var(--g-medium) 0;

            align-self: flex-end;
            text-align: center;
            border-radius: 5px;

            &:hover {
               background-color: var(--accent-color);
            }

            &--icon {
               width: 100%;
               height: 100%;
               padding: var(--g-small);

               &.expanded {
                  transform: rotate(180deg);
               }
            }

            &.expanded {
               margin: var(--g-small) var(--g-normal) 0 0;
               align-self: flex-start;
            }
         }
      }
   }
}

.expanded {
   &__wrapper {
      position: absolute;
      top: 75px;
      left: 0;

      width: 100vw;
      height: calc(100% - 75px);
      z-index: 11;
   }
   &__content {
      position: relative;
      // width: 204px;
      height: 280px;
      margin: 0;

      display: flex;
      flex-direction: column;
      justify-content: start;

      background-color: var(--base-color);
      border-bottom-width: 2px;
      border-color: var(--accent-color);

      box-shadow: 0 0 5px 0 var( --accent-color);

      &__words {
         // width: 100%;
         margin-top: var(--g-large);
         // margin-left: var(--g-extra-large);

         &--wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
         }

         &--word {
            margin: var(--g-large) 0 0 var(--g-extra-large);
            padding-left: var(--g-medium);
            border-left: solid var(--g-extra-small) var(--primary-light-color);
         }

         &__buttons {
            margin: var(--g-large) var(--g-medium) 0;

            display: flex;
            justify-content: end;
            align-items: center;
         }
      }

      &__form {
         padding-left: var(--g-large);
      }
   }
}