@use '../../variables' as *;

.actions {
   width: 93vw;
   padding: $g-medium;
   display: flex;
   flex-direction: column;
   
   border-radius: $g-medium;
   background-color: $base-color;

   &__buttons {
      padding: $g-medium 0 $g-large;

      display: flex;
      justify-content: space-around;
      font-size: $f-normal ;
   }
}

.add__form {
   margin-top: $g-normal;
   display: flex;
   flex-direction: column;
   align-items: center;

   &__buttons {
      width: 230px;
      padding-top: $g-large;
      align-self: flex-end;

      display: flex;
      justify-content: space-around;

   }
}

.learn__section {
   padding: $g-extra-large;
   
   display: flex;
   flex-direction: column;
   
   background-color: $primary-color;
   border-radius: $g-medium;
}