@use '../../patterns';

.top__bar {
   display: flex;
   align-items: center;
   justify-content: space-between;

   min-height: 50px;
   padding: patterns.$g-medium patterns.$g-extra-large;

   font-size: patterns.$f-large;
   color: patterns.$secondary-color;

   background-color: patterns.$primary-color;

   .top__bar--search {
      margin: 0;

      input {
         width: 35vw;
         height: patterns.$f-extra-large;
         padding: patterns.$g-large;

         border: solid 2px patterns.$secondary-color;
         border-radius: 8px;
         color: patterns.$primary-color;
      }

      input::placeholder {
         opacity: 0.5;
         color: patterns.$primary-color;
      }
   }
}