@use '../../variables' as *;

.top__bar {
   display: flex;
   align-items: center;
   justify-content: space-between;

   min-height: 50px;
   padding: $g-medium $g-extra-large;

   font-size: $f-large;
   color: $secondary-color;

   background-color: $primary-color;

   .top__bar--search {
      margin: 0;

      input {
         width: 35vw;
         height: $f-extra-large;
         padding: $g-large;

         border: solid 2px $secondary-color;
         border-radius: 8px;
         color: $primary-color;
      }

      input::placeholder {
         opacity: 0.5;
         color: $primary-color;
      }
   }
}