@use '../../variables' as *;

.top__bar {
   display: flex;
   align-items: center;
   justify-content: space-between;

   height: 50px;
   padding: $g-extra-large;

   color: $primary-color;
   background-color: $base-color;

   &--logo {

      h3 {
         font-size: $f-large;
      }
   }

   // .top__bar--search {
   //    margin: 0;

   //    input {
   //       width: 35vw;
   //       height: $f-extra-large;
   //       padding: $g-large;

   //       border: solid 2px $secondary-color;
   //       border-radius: 8px;
   //       color: $primary-color;
   //    }

   //    input::placeholder {
   //       opacity: 0.5;
   //       color: $primary-color;
   //    }
   // }
}