@use '../../constant/variables' as *;

.top__bar {
   width: 100vw;
   height: 75px;

   display: flex;
   align-items: center;
   justify-content: space-between;

   color: $primary-color;
   background: linear-gradient(180deg, rgba(0,63,107,1) 0%, 
                              rgba(0,90,151,.75) 60%, 
                              rgba(239,239,239,1) 100%);

   &__logo {
      width: 20vw;
      margin-top: var(--g-normal);
      padding-left: var(--g-normal);

      align-self: flex-start;
      color: var(--base-color);
      
      &--image {
         width: 100px;
      }

      p {
         font-family: var(--header-font);
         font-size: var(--f-regular);
         letter-spacing: 2px
      }
   }

   &--header {
      width: 80vw;

      h1 {
         font-family: var(--header-font);
         font-size: var(--f-extra-large);
         letter-spacing: 0.2em;
         color: var(--accent-color);
       }
   }

   &__button {
      margin-right: var(--g-normal);
   }

   &__navigation {
      width: 20vw;
      margin-right: var(--g-small);

      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      &__buttons {
         display: flex;
         justify-content: flex-end;
      }
   }
   
   &--input {
      width: clamp(120px, 20vw, 265px);
      margin: 0 var(--g-medium) 0;
      padding: var(--g-medium) var(--g-large);
      align-self: flex-end;
    
      
      border: none;
      border-radius: var(--input-radius);


      &::placeholder {
         color: var(--disabled-color);
      }

      &:focus {
         transform: scaleY(1.15);
         outline: none;
         box-shadow: 0 0 2px 0 var(--primary-color);
         border-color: var(--primary-light-color);
      }
   }
}