@use '../../../constant/variables' as *;

.words {
   width: 99vw;
   margin: var(--g-extra-large) 0;
   padding: var(--g-medium);

   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;

      &__card {
      width: 150px;
      height: 50px;
      margin: var(--g-large);

      display: flex;
      align-items: center;
      justify-content: center;

      border-bottom: solid 1px var(--primary-color);
      border-radius: var(--border-radius); 

      box-shadow: 0 0 8px 0 var(--card-shadow-color);

      &:hover {
         border-color: var(--accent-color);
         box-shadow: 0 0 5px 0 var( --accent-color);
      }
       &:active {
         box-shadow: inset 0 0 8px 0 var(--card-shadow-color);
       }

      &--text {
         width: 85%;
         margin: 0 var(--g-normal);

         text-align: center;
      }

      &__content {
         width: 15%;
         margin: 0 var(--g-medium) var(--g-medium) 0;

         align-self: flex-end;
         text-align: center;
         border-radius: 5px;

         &:hover {
            background-color: var(--card-hover-shadow-color);
         }

         &--icon {
            width: 10px;
            height: 10px;

            transform: rotate(-45deg) translateY(2px);
         }

      }
   }

   &__open-card {
      position: absolute;
      width: 300px;
      height: 300px;
      background-color: red;

   }
}