@use '../variables' as *;

@mixin button($background: $base-color, $majorColor: $primary-color) {
      min-width: 100px;
      min-height: 36px;

      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $background;
      color: $majorColor;
}

.button {
  @include button($base-color, $primary-color);
  font-size: clamp($f-normal, 2.2vw , $f-regular);

  &:hover {
      background-color: $hover-color;
      box-shadow: inset $small-shadow;
   }
   &:active {
      -webkit-box-shadow: inset 0px 0px 19px -6px $primary-color;
      -moz-box-shadow: inset 0px 0px 19px -6px $primary-color;
      box-shadow: inset 0px 0px -6px $primary-color;
   }

   &:disabled {
      background-color: #E8E8E8; 
      border-color: #aeb1b3;
      color:#aeb1b3;
   }
}


.secondary-button {
   @include button($primary-color, $secondary-color);
   min-height: 50px;
   margin: $g-normal;

   font-size: $f-large;

   &:hover {
      color: $primary-color;
   }
}

.submit-button {
   @include button($exclamation-button-color, $primary-color);
}

.revers-button {
   @include button($primary-color, $secondary-color);

   &:hover {
      background-color: $hover-color;
      color:$primary-color;
   }
}

.large-button {
   width: 45%;
   padding: $g-large;
   font-size: $f-normal;

   display: flex;
   justify-content: center;

   span {
      text-align: center;
      font-size: $f-normal;
   }
}


