@use '../constant/variables' as *;

.button {
 
  margin: var(--g-small) var(--g-medium);

  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 1px transparent;
  border-radius: var(--border-radius);
  
  font-size: clamp(var(--f-regular), 2.2vw , var(--f-small));

   &:active {
      background-color: var(--primary-color);
   }
   &:disabled {
      background-color: #E8E8E8; 
      border-color: #aeb1b3;
      color:#aeb1b3;
   }

}

.primary-button {
   background-color: transparent;
   color: var(--accent-color);
   &:hover {
      border-color: var(--primary-light-color);
      color: var(--base-color);
   }

}

.secondary-button {
   background-color: transparent;
   color: var(--primary-light-color);

   &:hover {
      color: var(--accent-color);
   }
}

.submit-button {
  background-color: var(--accent-color);

  &:hover {
      background-color: var(--base-color);
      border-color: var(--accent-color);
   }
}

.delete-button {
   background-color: var(--base-color);
   color: var(--warning-color);

   &:hover {
      border-color: var(--warning-color);
   }
}

.revers-button {

   &:hover {
      background-color: $hover-color;
      color:$primary-color;
   }
}

.small-button {
   width: 50px;
   padding: var(--g-small);
}

.normal-button {
   min-width: 80px;
   min-height: 30px;
}

.large-button {
   width: 45%;
   padding: $g-large;
   font-size: $f-normal;

   display: flex;
   justify-content: center;

   span {
      text-align: center;
      font-size: $f-normal;
   }
}


