@use '../constant/variables' as *;

.form__input {
   width: 95%;
   margin-top: $g-large;

   display: flex;
   flex-direction: column;
   
   &--label {
      padding-left: $g-medium; 
      font-size: $f-normal;
   }

   &--input {
      padding: $g-small; 
      font-size: $f-normal;
      
      border-style: none none solid none;
      border-color: $primary-color;
      border-bottom-width: 1px;

      &:focus {
         box-sizing: border-box;

         border-color: $secondary-color;
         border-bottom-width: 2px;
         outline: none;
      }
   }
}
