@use '../constant/variables' as *;

.form__input {
   position: relative;
   width: 95%;
   margin-top: $g-large;

   display: flex;
   flex-direction: column;
     
   &--label {
      padding-left: $g-medium; 
      font-size: var(--f-regular);
   }

   &--input {
      padding: $g-small; 
      font-size: $f-normal;
      
      border-style: none none solid none;
      border-color: var(--disabled-color);
      border-bottom-width: 1px;

      transition: transform 0.2s;

      &:focus {
         transform: scale(1.02, 1.2);
         box-sizing: border-box;
         border-color: $secondary-color;
         border-bottom-width: 1px;
         outline: none;
      }
   }
}
