// colors pattern 
$base-color: rgb(255, 255, 255);
$primary-color: rgb(18, 56, 75);
$secondary-color: #FFB703;
// $hover-color: rgb(18, 56, 75,0.06);
$hover-color: $secondary-color;
$action-color: #219EBC;
$exclamation-button-color: #FB8500;
$primary-transparency-background-color: rgb(2, 48, 71, 0.3);
$secondary-transparency-background-color: rgb(255, 255, 255, 0.5);
$error-color: rgb(250, 29, 0);
$warning-color: rgb(250, 29, 0, 0.2);
$success-color: #008945;


// gutters, paddings, margins patterns
$g-extra-small: 1px;
$g-small: 3px;
$g-medium: 5px;
$g-normal: 8px;
$g-large: 10px;
$g-extra-large: 13px;

//fonts sizing
$f-small: 0.8em;
$f-normal: 1em;
$f-regular: 1.2em;
$f-large: 1.5em;
$f-extra-large: 2em;

// borders
$border-radius: 5px;
$button-radius: 3px;

//shadows
$regular-shadow:  0 0 20px -3px $primary-color;
$small-shadow:  0 0 15px -3px $primary-color;