// colors pattern 
$base-color: #FFFFFF;
$primary-color: rgb(2, 48, 71);
$secondary-color: #FFB703;
$hover-color: #8ECAE6;
$action-color: #219EBC;
$exclamation-button-color: #FB8500;

// gutters, paddings, margins patterns
$g-extra-small: 1px;
$g-small: 3px;
$g-medium: 5px;
$g-normal: 8px;
$g-large: 10px;
$g-extra-large: 13px;

//fonts sizing
$f-extra-small: 0.8em;
$f-small: 1em;
$f-normal: 1.1em;
$f-large: 1.5em;
$f-extra-large: 2em;