@use './constant/variables' as *;
@use './constant/normalize';

.main__container {
  width: 100vw;
  color: var(--text-color);
  font-family: var(--regular-font);
}

.content {
  width: 100%;
  height: calc(100vh - 105px);
  padding: 0 $g-extra-large;
  overflow: auto;
  
  background-color: $base-color;
}