@use './constant/variables' as *;
@use './constant/normalize';

.main__container {
  width: 100vw;
  height: calc(100vh - 50px);
  color: var(--text-color);
  font-family: var(--regular-font);

  .content {
    width: 100%;
    height: inherit;
    padding: 0 $g-extra-large;
    
    background-color: $base-color;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  height: 30px;
}