@use '../../constant/variables' as *;

.login__section {
   width: min(600px, 93vw);
   margin: 0 auto;
   padding: $g-extra-large;
   background-color: $base-color;
   border-radius: $border-radius;
   
   &--header {
    text-align: center;
   }

   &--info {
      margin-top: var(--g-small);
      display: flex;
      flex-direction: column;

      align-items: flex-start;
      font-size: $f-small;
   }

   &--description {
      display: flex;
      justify-content: center;
      align-items: center;
   }
    
   &--button {
      margin-left: $g-medium;
      padding: $g-extra-small $g-small;
      
      color: $primary-color;
      border-radius: $button-radius;
      box-shadow: $small-shadow;

      &:hover {
         background-color: $hover-color;
         color: $primary-color;
      }
   }

   &--submit {
      display: flex;
      gap: $g-extra-large;
      
      align-self: flex-end;
   }
}


